<div class="JR_footer">
	<div class='JR_footer_block'>
		<div class="JR_footer_button JR_footer_button_active" id="home">
			<div class="JR_footer_button_text ">
				Home
			</div>
		</div>
		<div class="JR_footer_button" id="skills">
			<div class="JR_footer_button_text">
				Skills
			</div>
		</div>
		<div class="JR_footer_button" id="projects">
			<div class="JR_footer_button_text">
				Projects
			</div>
		</div>
		<div class="JR_footer_button" id="media">
			<div class="JR_footer_button_text">
				Media
			</div>
		</div>
	</div>			
</div>
