{{extend 'layout.html'}}

<script type="text/javascript">

</script>

<div class="panel_wrapper">
	<div class="JR_panel" id="home">
		<div class="JR_namespace">James Meldrum</div>
		<div class="JR_byline">Adaptive, Value-Oriented Digital Design and Consultation.</div>
		<div class="JR_sloth">
			<div class="sloth"> 
	             <img src="{{=URL('JamesRhysSite','static','images/application/slide/1/sloth_images/sloth_wedding.png')}}" alt="Overflow: Hidden No More" data-caption="#htmlCaption1" class="slider_pic_1"/>
	             <img src="{{=URL('JamesRhysSite','static','images/application/slide/1/sloth_images/sloth_tech.png')}}" alt="Overflow: Hidden No More" data-caption="#htmlCaption1" class="slider_pic_1"/>
	             <img src="{{=URL('JamesRhysSite','static','images/application/slide/1/sloth_images/sloth_james.png')}}" alt="Overflow: Hidden No More" data-caption="#htmlCaption1" class="slider_pic_1"/>
	             <img src="{{=URL('JamesRhysSite','static','images/application/slide/1/sloth_images/sloth_guido.png')}}" alt="Overflow: Hidden No More" data-caption="#htmlCaption1" class="slider_pic_1"/>
	             <img src="{{=URL('JamesRhysSite','static','images/application/slide/1/sloth_images/sloth_bill.png')}}" alt="Overflow: Hidden No More" data-caption="#htmlCaption1" class="slider_pic_1"/>
	        </div>
        </div>
        <div class="JR_media">
        	<div class="JR_media_item" id="twitter">
				<div class="JR_media_item_text" id="twitter">
					Twitter
				</div>
				<a href="http://twitter.com/#!/jamejamebutdiff" target="_blank">
					<div class="JR_media_item_icon" id="twitter" style="background: url('{{=URL('JamesRhysSite','static','images/application/ICO/twitter.png')}}'); no-repeat">
					</div>
				</a>
        	</div>
        	<div class="JR_media_item" id="g_plus">
				<div class="JR_media_item_text" id="g_plus">
					G+
				</div>
				<a href="http://plus.google.com/118121809025216099137/posts" target="_blank">	
					<div class="JR_media_item_icon" id="g_plus" style="background: url('{{=URL('JamesRhysSite','static','images/application/ICO/g_plus.png')}}'); no-repeat">
					</div>
				</a>
        	</div>
        	<div class="JR_media_item" id="github">
				<div class="JR_media_item_text" id="github">
					GitHub
				</div>
				<a href="http://github.com/JamesMeldrum" target="_blank">
					<div class="JR_media_item_icon" id="github" style="background: url('{{=URL('JamesRhysSite','static','images/application/ICO/github.png')}}'); no-repeat">
					</div>
				</a>
        	</div>
        	<div class="JR_media_item" id="email">
				<div class="JR_media_item_text" id="email">
					Email
				</div>
				<div class="JR_media_item_icon" id="email" style="background: url('{{=URL('JamesRhysSite','static','images/application/ICO/email.png')}}'); no-repeat">
				</div>
				<div class= "JR_media_item_emailrollout">
					To: james@jamesrhys.net
				</div>
        	</div>
        </div>
	</div>
	<div class="JR_panel" id="skills" >
		<div class="JR_panel_header">
			Skill-Sets and Core Methodologies
		</div>
		<div class="JR_table">
			<div class="JR_table_col">
				<div class="JR_table_col_header" >
					Technologies
				</div>
				<div class="JR_table_p">
					The Writing's on the Wall: It's no longer acceptable to engineer 
					platform- or device-specific releases. Web, Tablet, Mobile, Station, Server, Network:
					operational channels need to connect users, wherever they may be. My technological
					experience is informed by the shared needs of 3G mobile users
					in Asia and wired workstations in Europe.
				</div>
				<div class="JR_table_h">
					Core Languages:
				</div>
				<ul class="JR_table_ul">
					<li>C</li>
					<li>Python</li>
					<li>Web ( HTML5/JS/CSS3 )</li>
					<li>Actionscript</li>
					<li>Java</li>
				</ul>
				<div class="JR_table_h">
					Related Standards:
				</div>
				<ul class="JR_table_ul">
					<li>SQL</li>
					<li>noSQL (GAE / AWS)</li>
					<li>XHR (AJAX)</li>
					<li>O/S APIs (jQuery, Three.js, Google (Maps, Checkout, GWT))</li>
					<li>XML / JSON</li>
					<li>OpenGL (ES / WebGL / glut)</li>
				</ul>
				<div class="JR_table_h">
					Dev Env:
				</div>
				<ul class="JR_table_ul">
					<li>Eclipse (Aptana / Flash Builder)</li>
					<li>Visual Studio 2008 / 2010</li>
					<li>Adobe Creative Suite 4.5</li>
					<li>Git</li>
					<li>Windows / Ubuntu</li>
				</ul>
			</div>
			<div class="JR_table_col">
				<div class="JR_table_col_header" style="background-position: 0 -50px;">
					Concepts
				</div>
				<div class="JR_table_p">
					Ideas drive technology. Sustainable innovation is rarely the other
					way around. I strictly adhere to a set of development ideologies.
				</div>
				<div class="JR_table_h">
					Agile Development
				</div>
				<div class="JR_table_e">
					Value-driven design, consultative itteration,
					intuitive UX, long-term integrated solutions
					produce the best results.
				</div>
				<div class="JR_table_h">
					DRY / JIT
				</div>
				<div class="JR_table_e">
					Simple. Know how to apply it to <i>everything</i> you do,
					and know when you can't.
				</div>
				<div class="JR_table_h">
					Scripting					
				</div>
				<div class="JR_table_e">
					The ability to maximise work not done is dependent
					on creation of run-once, run-everywhere tools to support
					development. Templating
					and add-ons are necessary at all levels of a project. 
				</div>
				<div class="JR_table_h">
					The Planning / Production Trade-Off
				</div>
				<div class="JR_table_e">
					As an engineer I love to write cleaner, 
					faster, and more modular code 
					- as an entrepreneur I understand when quick
					 and dirty is the better solution.
				</div>
			</div>
			<div class="JR_table_col">
				<div class="JR_table_col_header" style="background-position: 0 -100px;">
					People
				</div>
				<div class="JR_table_p">
					The days of the arrogant neckbeard dictionary are over.
					Modern computer engineers and designers need to appreciate
					that in the push to humanise the machine, no single role
					in any organization can exist without the input of
					everyone else.<br/><br/>
					
					My brand of leadership and innovation 
					is a shared, itterative process and is driven by a 
					set of community ideologies.
				</div>
				<ul class="JR_table_ul">
					<li><a href="http://www.amazon.com/Asshole-Rule-Civilized-Workplace-Surviving/dp/0446526568">No A#%holes</a></li>
					<li><a href="http://www.amazon.com/Tribes-We-Need-You-Lead/dp/1591842336/ref=sr_1_1?s=books&ie=UTF8&qid=1327915631&sr=1-1">Tribes</a> exist and are prolifferating. 
						Ignore the importance of Personal Branding, Open-Source and User Contribution at your own peril</li>
					<li>Your customers see the same face as your co-workers </li>
					<li>Burn-out is a reality but weakly proportional to effort. 
						<a href="http://www.amazon.com/Mans-Search-Meaning-Viktor-Frankl/dp/0807014273/ref=sr_1_1?s=books&ie=UTF8&qid=1327916176&sr=1-1">Meaning and purpose drives teams</a></li>
					<li>It is more important for Start-Ups to seek investment from
						staff than from investors</li>
					<li>You are a character from The Office - know early on who
						you are.</li>
					<li>If your product does not generate wealth for your customers,
						itterate until it does.</li>
				</ul>
					
			</div>
		</div>
	</div>
	<div class="JR_panel" id="projects">
		<div class="JR_panel_header">
			Past Products and Experiences
		</div>
		<div class="JR_panel_project">
			<div class="JR_panel_project_column_left">
				<div class="JR_panel_project_column_left_header">
					Oddjob
				</div>
				<div class="JR_panel_project_column_left_byline">
					Co-Founder / CTO
				</div>
				<div class="JR_panel_project_column_left_p">
				Oddjob is a local services marketplace, 
				with global scope, providing sellers with 
				the tools to operate and attract new customers.
				</div>
				<div class="JR_panel_project_column_left_byline">
				Responsibilities:
				</div>
				<ul class="JR_panel_project_column_left_ul">
					<li>UI / UX design and implementation</li>
					<li>Development of a scaleable back-end in Python,
						storing up to 50mb of user data and manipulating
						it for access by </li>
				</ul>
			</div>
			<a href="http://ojsandbox.appspot.com">
				<div class="JR_panel_project_column_right" style="background: url('{{=URL('JamesRhysSite','static','images/application/slide/3/proj_pics_OJ.png')}}');">
					<div class="JR_panel_project_column_right_indev"></div>
				</div>
			</a>
		</div>
		<div class="JR_panel_project">
			<div class="JR_panel_project_column_left">
				<div class="JR_panel_project_column_left_header">
					Bunnings
				</div>
				<div class="JR_panel_project_column_left_byline">
					Back-End Contractor/ Consultant
				</div>
				<div class="JR_panel_project_column_left_p">
				Bunnings is an established Australian home hardware chain,
				similar to Lowes. I was brought on to increase consumer
				engagement with their brand via geographically-relevant
				content.
				</div>
				<div class="JR_panel_project_column_left_byline">
				Responsibilities:
				</div>
				<ul class="JR_panel_project_column_left_ul">
					<li>Implementing a scaleable solution to regularly generate
						content for each of Bunning's 100+ sales regions</li>
					<li>Modularising existing content by region</li>
					<li>Combining HTML5 Navigator class and the Google Maps API
						 with existing ASP.net architecture</li>
				</ul>
			</div>
			<a href="http://bunnings.com.au">
				<div class="JR_panel_project_column_right" style="background: url('{{=URL('JamesRhysSite','static','images/application/slide/3/proj_pics_BN.png')}}');"></div>
			</a>
		</div>
		<div class="JR_panel_project">
			<div class="JR_panel_project_column_left">
				<div class="JR_panel_project_column_left_header">
					Westfield
				</div>
				<div class="JR_panel_project_column_left_byline">
					UX / Application Contractor
				</div>
				<div class="JR_panel_project_column_left_p">
				Westfield is an Australian-based shopping centre operator. I was brought
				on to increase user engagement by developing a cross-platform mapping
				applilcation for their shopping centres.
				</div>
				<div class="JR_panel_project_column_left_byline">
				Responsibilities:
				</div>
				<ul class="JR_panel_project_column_left_ul">
					<li>Development of a multi-platform AS3 application, currently
						available for <a href="https://market.android.com/details?id=au.com.intunity.westfield&feature=search_result#?t=W251bGwsMSwxLDEsImF1LmNvbS5pbnR1bml0eS53ZXN0ZmllbGQiXQ..">Android</a>, <a href="http://itunes.apple.com/au/app/westfield/id390301687?mt=8#">iOS</a> and <a href="http://www.westfield.com.au/au/westfield-centres">Web</a>, that buffers 
						geographical and social-networking data 
						across all platforms.</li>
					<li>Regular application maintenace through follow-up
						and itterative patching</li>
				</ul>
			</div>
			<div class="JR_panel_project_column_right" style="background: url('{{=URL('JamesRhysSite','static','images/application/slide/3/proj_pics_WF.png')}}');"></div>
		</div>
		<div class="JR_panel_project">
			<div class="JR_panel_project_column_left">
				<div class="JR_panel_project_column_left_header">
					Gabblista
				</div>
				<div class="JR_panel_project_column_left_byline">
					UI / UX / Application Contractor
				</div>
				<div class="JR_panel_project_column_left_p">
				Armour Games has commissioned me a grant to complete development of a
				multi-platform (Web, Mobile, Tablet), multi-access (Facebook, HTTP, AJAX),
				social (Facebook / Twitter / GMail)	word game.
				</div>
				<div class="JR_panel_project_column_left_byline">
				Responsibilities:
				</div>
				<ul class="JR_panel_project_column_left_ul">
					<li>Project Management in managing outsourced developers
						with differing language requirements</li>
					<li>UX design for multiple display resolutions, 
						orientations and hardware capabilities</li>
					<li>Scaleable Data Management over 3G</li>
				</ul>
			</div>
			<a href="https://apps.facebook.com/163717363730618/">
				<div class="JR_panel_project_column_right" style="background: url('{{=URL('JamesRhysSite','static','images/application/slide/3/proj_pics_gabb.png')}}')">
					<div class="JR_panel_project_column_right_indev"></div>
				</div>
			</a>
		</div>
	</div>
	<div class="JR_panel" id="media" style="padding-bottom:200px;">
		<div class="JR_panel_header">
			Blogs, Tweets and News
		</div>
		<div class="JR_panel_media_entry" style="float:left;">
			<div class="JR_panel_media_entry_pic">
			</div>
			<div class="JR_panel_media_entry_header">
				<a href="http://jrmxx.blogspot.com/2012/01/dynamically-loading-and-unloading.html">
					Dynamic Loading and Unloading Ajax Arch...
				</a>
			</div>
			<div class="JR_panel_media_entry_body">
				So it turns out there's really no good techniques for unloading javascipt files for Ajax apps. It's going to become very important in the very near future as we approach the Mayan Apocalypse...
			</div>
		</div>
		<div class="JR_panel_media_entry" style="float:right;">
			<div class="JR_panel_media_entry_pic">
			</div>
			<div class="JR_panel_media_entry_header">
				<a href="http://jrmxx.blogspot.com/2011/12/how-to-set-up-google-checkout-in-python.html">
				How to set up Google Checkout with Pyth...
				</a>
			</div>
			<div class="JR_panel_media_entry_body">
				The Google Checkout API is a dream to use because its low-level calls means that it's freely customizeable on any web framework. However, as is customary with Google technology, the documentation...
			</div>
		</div>
		<div class="JR_panel_media_entry" style="float:left;">
			<div class="JR_panel_media_entry_pic">
			</div>
			<div class="JR_panel_media_entry_header">
				<a href="http://jrmxx.blogspot.com/2011/11/flexas3-xml-to-array-or-arraycollection.html">
					Flex / AS3: XML to Array or ArrayCollection
				</a>
			</div>
			<div class="JR_panel_media_entry_body">
It's been a while (sorry). I've been busy working my butt of on a few different projects. To say sorry, I've written a class that fetches XML from an RPC and returns it as either an Array or an ArrayCollection...
			</div>
		</div>
		<div class="JR_panel_media_entry" style="float:right;">
			<div class="JR_panel_media_entry_pic">
			</div>
			<div class="JR_panel_media_entry_header">
				<a href="http://jrmxx.blogspot.com/2011/09/pc-is-here.html">
				The PC is here!
				</a>
			</div>
			<div class="JR_panel_media_entry_body">
After a week wandering around the wastes with my iPhone, my new lappy is here! 'Tis a beast. Quad-Core i7 2.0 ghz with 8gb ddr3 ram and 1.5gb graphics cache. Sick...
			</div>
		</div>
		<div class="JR_panel_media_entry" style="float:left;">
			<div class="JR_panel_media_entry_pic">
			</div>
			<div class="JR_panel_media_entry_header">
				<a href="http://jrmxx.blogspot.com/2011/08/ludum-dare-48.html">
					Ludum Dare 48					
				</a>
			</div>
			<div class="JR_panel_media_entry_body">
				In 56 minutes I'll be starting Ludum Dare 48 - a programming competition where I have to write a complete application from a theme within 48 hours. The theme will not be revealed until the timer has started. I'm starting to get psyched for this...
			</div>
		</div>
	</div>
</div>